{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- home.html content starts here -->
<section>
    <div class="container-fluid text-center">
        <h1>Create Workout</h1>
        <form id="workoutForm" method="post" class="mt-5 d-flex flex-column align-items-center">
            <div>
                {{ workout_form | crispy }}
                {% csrf_token %}
            </div>
            <div>
                <button id="submitButton" type="submit" class="btn btn-signup">Submit</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">
                    Back
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}