{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<!-- home.html content starts here -->
<section>
    <div class="container-fluid text-center">
        <h1>Edit Exercise</h1>
        <form action="{% url 'edit_exercise' exercise.id %}" id="exerciseForm" method="post"
            class="mt-5 d-flex flex-column align-items-center">
            <div>
                {{ exercise_form | crispy }}
                {% csrf_token %}
            </div>
            <div class="d-flex flex-row flex-wrap justify-content-center button-container">
                <button id="submitButton" type="submit" class="btn btn-signup">Update</button>
                <a href="{% url 'home' %}" type="button" class="btn btn-secondary">
                    Back
                </a>
                <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal"
                    data-bs-target="#delete-confirmation">
                    Delete exercise
                </button>
            </div>
        </form>
    </div>
    <!-- Modal delete confirmation -->
    <div class="modal fade" id="delete-confirmation" tabindex="-1" aria-labelledby="delete-confirmation-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="delete-confirmation-modal-label">
                        Delete confirmation
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Permanently delete {{exercise.name}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <a href="{% url 'delete_exercise' exercise.id %}" type="button" class="btn btn-danger">Delete
                        exercise</a>
                </div>
</section>
{% else %}
<section>
    <div class="row">
        <div class="col text-center">
            <h2>Welcome to GymTracker</h2>
            <p>You need to be logged in to use our features.</p>
            <p>
                Do you already have an account?
                <br>
                <a class="link" href="{{ login_url }}">Log in</a>.
            </p>
            <p>
                Otherwise, you can
                <a class="link" href="{{ signup_url }}">sign up</a> here!
            </p>
        </div>
    </div>
</section>
{% endif %}
<!-- home.html content ends here -->
{% endblock %}