{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<!-- home.html content starts here -->
<h1>Edit Exercise</h1>
<form action="{% url 'edit_exercise' exercise.id %}" id="exerciseForm" method="post" class="mt-5">
    {{ exercise_form.as_p }}
    {% csrf_token %}
    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>
{% else %}
<div class="row">
    <div class="col text-center">
        <h2>Welcome to GymTracker</h2>
        <p>You need to be logged in to use our features.</p>
        <p>
            Do you already have an account?
            <br>
            <a class="link" href="{{ login_url }}">Log in</a>.
        </p>
        <p>
            Otherwise, you can
            <a class="link" href="{{ signup_url }}">sign up</a> here!
        </p>
    </div>
</div>
{% endif %}
<!-- home.html content ends here -->
{% endblock %}