{% extends "base.html" %}

{% block content %}

<!-- home.html content starts here -->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="row">
                <h1>Workouts</h1>
            </div>
            <div class="row">
                {% for workout in object_list %}
                <div class="workout-card">
                    <h3>{{workout.name}}</h3>
                    <p>{{workout.date}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>

<!-- home.html content ends here -->
{% endblock %}