/* General styles */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: rgba(33, 37, 41);
}

main {
    /* To push footer down */
    flex: 1 0 auto;
}

/* Workout card styles */
.card {
    background-color: rgba(255, 136, 0, 0.6);
}

.card:hover {
    background-color: rgba(255, 136, 0, 0.8);
}
/* Button styles */
.btn {
    min-width: 100px;
}

.button-container {
    max-width: 210px;
}

.btn-orange {
    background-color: rgb(33, 37, 41, 0.8);
    color: #fff;
    box-shadow: 10px;
}

.btn-orange:hover,
.btn-orange:active {
    background-color: rgba(255, 136, 0, 0.6);
    color: #fff;
}

.btn-signup,
.btn-edit {
    background-color: rgba(255, 136, 0, 0.6);
    color: #fff;
    margin: 1px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ff8800;
    color: #fff;
}

/* Link styles */
.page-link:hover,
.page-link:active {
    background-color: #fff;
    color: #ff8800c9;
}

.link {
    color: #ff8800c9;
    text-decoration: underline;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.faded {
    color: rgb(172, 175, 175);
}

/* Django messages styles */
.success {
    margin-top: 10px;
    background-color: rgb(255, 230, 0);
}

.error {
    margin-top: 10px;
    background-color: rgb(218, 32, 72);
}

/* Footer styles */
.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    width: 100%;
}