/* General styles */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #212529;
}

main {
    /* To push footer down */
    flex: 1 0 auto;
}


hr {
    display: inline-block;
    width: 50%;
}

/* Workout card styles */
.card {
    background-color: #ad1a26ec;
    color: #fff;
}

.card:hover {
    background-color: #9C1C27;
}

/* Button styles */
.btn {
    min-width: 100px;
    margin: 1px;
}

.button-container {
    max-width: 220px;
}

.btn-red {
    background-color: #212529cc;
    color: #fff;
    box-shadow: 10px;
}

.btn-red:hover,
.btn-red:active {
    background-color: #AD1A26;
    color: #fff;
}

.btn-signup,
.btn-edit {
    background-color: #AD1A26;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #9C1C27;
    color: #fff;
}

/* Link styles */
.page-link:hover,
.page-link:active {
    background-color: #fff;
    color: #AD1A26;
}

.link {
    color: #AD1A26;
    text-decoration: underline;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.faded {
    color: #acafaf;
}

/* Django messages styles */
.success {
    margin-top: 10px;
    background-color: #ffe600;
}

.error {
    margin-top: 10px;
    background-color: #b43b55ce;
}

/* Footer styles */
.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    width: 100%;
}

.footer-text p {
    margin-bottom: 5px;
}

#github-link {
    text-decoration: none;
}

#github-icon {
    width: 20px;
    margin-left: 5px;
}